html {width: 100%; height: 100%; padding: 0px; margin: 0px; overflow: hidden}
body {width: 100%; height: 100%; padding: 0px; margin: 0px; overflow: hidden}



.wrapper{width:100%; height:100%; position:absolute; overflow: scroll}
.box {width: 100%; height: 100%; background-color:white; position: absolute}

.title {height:50px; width:90%;margin-left: 5%;margin-right: 5%; top:45%;background-image: url('logo.png');background-size: contain; background-position: center; background-repeat: no-repeat; position: absolute}

.title2 {font-family: "helvetica"; font-size: 50px; width:90%; margin-top: 25%; text-align: center;margin-left: 5%;margin-right: 5%}
.text {font-family: "helvetica"; font-size: 18px; text-align: left;margin-top:35%;}

.halfPageTitle {font-family: "helvetica"; font-size: 50px; margin-top:35%;  text-align:left}

.marginSetting {margin-left:10%; margin-right: 5%; width:85%}

.column {width:50%; height:100%;background-color: white}

.sticker {font-family: "helvetica"; position: absolute; background-color: white; padding: 10px}
.stickerWrapper{font-style: oblique; font-weight: 900; font-size: 25px;}
#paragraph3 {height:80%; margin-top:20%;}
.box #n1 {position: fixed;}

@media screen and (max-width:850px) {
    .text {font-size: 18px}
}

@media only screen and (max-width: 770px) {
    .title {height: 10px; top:40%;}
    .title2 {font-size:30px; margin-top: 40%}
    .box {height:auto; padding-bottom: 40px;}
    .column {width: 100%; height:auto; padding-bottom: 30px}
    .halfPageTitle {margin-top:20%; font-size:20px}
    .marginSetting {margin-left:5%; margin-right:5%; width:90%}
    .text {margin-top:5%}
    .box n1 {position: absolute;}
    #paragraph {margin-top:25%;height:75%}
    #paragraph2 {margin-top:5%;}
    #paragraph3 {margin-top:25%;height:75%}
    #paragraph4 {height:100%}
    #paragraph5 {margin-top:25%;height:75%}
}


@media only screen and (max-width: 600px) {
    .text {font-size: 15px}
}




