@media screen{
    
html {width: 100%; height: 100%; padding: 0px; margin: 0px;}
body {width: 100%; height: 100%; padding: 0px; margin: 0px;overflow: scroll}
video {height:100%; width: auto;}



.box {
    width: 100%; 
    height: 100%; 
    background-color:transparent; 
    position: absolute;
    overflow: hidden;
}
.veil {
    background-color: black; 
    opacity: 0; 
    width:100%; 
    height: 100%; 
    position: absolute; 
    top:0px; left:0px;
}

.title2 {
    font-family: "dia"; 
    font-weight:900; 
    font-size: 7.4vw; 
    width:70%; 
    top:38%; 
    text-align: center; 
    margin-left: 15%; 
    margin-right: 15%;
    position:absolute;
    line-height: 7vw;
}
.text {
    font-family: "dia"; 
    font-weight:700; 
    font-size: 2.8vw; 
    text-align: left; 
    width:90%; 
    margin-left:5%;
    margin-top: 5%;
}
.quote {
    font-weight:700; 
    font-size:5.35vw; 
    line-height:5.4vw; 
    width:80%; 
    margin-left:10%;
}
.halfPageTitle {
    font-family: "dia"; 
    font-weight:900; 
    font-size: 4vw; 
    margin-top:35%;  
    text-align:center; 
    line-height: 3.8vw;
}

.column {
    width:50%; 
    height:100%; 
    position: relative
}

.outline {
    position: absolute; 
    width:86%; 
    height:78%; 
    background-color: transparent;
    outline: 1.6vw solid white;
    top:12%; left:7%
}
.circleOutline {
    position: absolute;
    width:36vw; 
    height:36vw;
    background-color: transparent;
    border: 1.6vw solid white;
    top:18%;
    left:50%;
    margin-left: -20vw;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
}

.box #n1 {
    position: fixed;
}

.readMoreTextBox{
    position:fixed; 
    width:200px;
    display:none;
}
#readMoreText{
    font-family: "dia";
    font-weight:900;
    font-size: 30px;
    text-align: center;
}

.s1{color:rgb(0,0,0)}
/*
.s2{color:rgb(255,255,0)}
.s3{color:rgb(255,63,0)}
.s4{color:rgb(0,255,195)}
*/
.s2{color:rgb(255,255,255)}


.readMoreWrapper {
    position:fixed;
    bottom:25px;
    right:25px;
    width: 50px;
    height:50px;
}
.readMore {
    position:fixed;
    bottom:25px;
    right:25px;
    background-color: white;
    width:50px;
    height:50px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
}
.readMoreWrapper:hover {
    cursor: pointer
        
}

.tldrBigWrapper{
    width: 100%;
    height: 100%;
    position:fixed;
    overflow: scroll;
    display: none;
    background-color: white;
}
.tldrWrapper {
    width: 94%;
    height: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top:2%;
    margin-bottom:2%;
    background-color: white;
}

.tldrColumn{
    width:46%;
    height:94%;
    padding:2%;
    float:left;
}

.cropMarks{
    border-color: black;
    position: absolute;
   // background-color: black;
}


.tldrBox {
    width:100%;
    font-family: "dia";
    font-size: 1.2vw;
    line-height: 1.3vw;
}

.tldrTitle{
    font-size:1.2vw;
    line-height: 1.3vw;
    font-weight: 800;
}

.tldrEmpty{
    
}

    

#close:hover{cursor: pointer}
#print:hover{cursor: pointer}
    
    
}

@media only screen and (max-width: 770px) {
    img, video{display: none}
    .title {height: 10px; top:40%;}
    .title2 {font-size:10vw; line-height: 10.5vw; top:30%; width: 90%; margin-left: 5%}
    .circleOutline{width: 90%; left: 5%; margin: 0; border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0; border: 0px;}
    .halfPageTitle{font-size:10vw; line-height: 10.5vw}
    .box {height: 100%; padding-bottom: 40px; background-color: black; position: relative; top:auto}
    #n1,#n3,#n5,#n7,#n11,#n13,#n17,#n19,#n23 {display: none}
    .column {height:auto;width: 100%; background-color: black !important}
    .marginSetting {margin-left:5%; margin-right:5%; width:90%}
    .text {margin-top:20px;font-size:5.5vw}
    .text#y{color:rgb(255,255,0);}
    .text#r{color:rgb(255,63,0);}
    .text#g{color:rgb(0,255,195);}
    .readMoreWrapper{display: none}
    .quote{font-size:5.5vw; line-height: 6vw} 
    .outLine{width: 100%; margin: 0px; outline: 0;} 
    #paragraph {margin-top:25%;height:75%}
    #paragraph2 {margin-top:5%;}
    #paragraph3 {margin-top:25%;height:75%}
    #paragraph4 {height:100%}
    #paragraph5 {margin-top:25%;height:75%}
    .box#n26{display: none}
}

@font-face {
    font-family: "dia";
    src: url('Fonts_for_Builders/DiaWeb/dia-black-v10-woff-eot/diaBlack.eot'),
    url('Fonts_for_Builders/DiaWeb/dia-black-v10-woff-eot/diaBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: "dia";
    src: url('Fonts_for_Builders/DiaWeb/dia-bold-v10-woff-eot/diaBold.eot'),
    url('Fonts_for_Builders/DiaWeb/dia-bold-v10-woff-eot/diaBold.woff') format('woff');
    
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "dia";
    src: url('Fonts_for_Builders/DiaWeb/dia-regular-v10-woff-eot/diaRegular.woff'),
    url('Fonts_for_Builders/DiaWeb/dia-regular-v10-woff-eot/diaRegular.eot') format('woff');
    font-weight: normal;
    font-style: normal;
}


@media print{

    * {margin: 0 !important; padding: 0 !important;}
    @page { size:auto;}
    html, body{height: 100%;}
    .body { font-size: 12pt; font-family:"dia"}
    .box>div {display: none}
    .tldrColumn{width:46%; height:96%;padding:10pt;float:left;}
    .cropMarks {display:none}
    .tldrBigWrapper{height: 100%; width:100%}
    .tldrWrapper{height: 100%; width:100%; margin-top: 5cm;}
    .tldrTitle{font-size: 8.5pt; font-family: "dia"; font-weight: 800; margin-bottom: 2mm; float:none}
    .tldrBox{font-size: 8.5pt; font-family:"dia"; margin-bottom: 2mm; float: none}
    .tldrEmpty{display: none}
    video {display: none}
    img {display: none}
    #scrollPurpose{display: none}
}







